
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #598c9c;
  margin: 0;
}

.loader{
  width: 100px; /* Adjust size */
  height: 100px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

